[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Sean P. Madden <sean@seanmadden.net>"]
homepage = "https://github.com/spmadden/irox"
license = "MIT OR Apache-2.0"
exclude = ["doc"]
readme = "README.md"

[workspace]
members = [
    "irox",
    "data-formats/csv",
    "data-formats/sirf",
    "interfaces/influxdb_v1",
    "libraries/carto",
    "libraries/egui_extras",
    "libraries/enums",
    "libraries/enums_derive",
    "libraries/network",
    "libraries/stats",
    "libraries/units",
    "libraries/structs",
    "libraries/structs_derive",
    "libraries/tools",
    "libraries/types",
    "tools/halflifes",
    "tools/gpsd"
]

[workspace.dependencies]
egui = { version = "^0", features = ["persistence"] }
eframe = { version = "^0", features = ["persistence"] }
ron = { version = "^0", features = ["integer128"] }
serde = { version = "^1,<1.0.172", features = ["derive"] }
serde_json = {version = "^1", features = []}
time = {version = "^0", features = ["formatting"]}
ureq = {version = "^2", features = ["brotli", "native-certs", "socks-proxy", "cookies"]}
url = {version = "^2", features = []}
clap = {version = "^4", features = ["derive", "wrap_help", "string", "cargo", "env"]}
clap-verbosity-flag = {version = "^2"}
log = {version = "^0", features = []}
env_logger = {version = "^0", features = []}
syn = {version = "^2", features = ["extra-traits"]}
quote = {version = "^1", features = []}
tokio = {version = "^1", features = ["rt", "rt-multi-thread", "signal", "net", "sync"]}

irox-csv = {version = "^0", path = "data-formats/csv"}
irox-nmea0183 = {version = "^0", path = "data-formats/nmea0183"}
irox-sirf = {version = "^0", path = "data-formats/sirf"}

irox-influxdb_v1 = {version = "^0", path = "interfaces/influxdb_v1"}

irox-carto = {version = "^0", path = "libraries/carto"}
irox-egui-extras = {version = "^0", path = "libraries/egui_extras"}
irox-enums = {version = "^0", path = "libraries/enums"}
irox-enums_derive = {version = "^0", path = "libraries/enums_derive"}
irox-networking = {version = "^0", path = "libraries/network"}
irox-stats = {version = "^0", path = "libraries/stats"}
irox-structs = {version = "^0", path = "libraries/structs"}
irox-structs_derive = {version = "^0", path = "libraries/structs_derive"}
irox-tools = {version = "^0", path = "libraries/tools"}
irox-types = {version = "^0", path = "libraries/types"}
irox-units = {version = "^0", path = "libraries/units"}