[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Sean P. Madden <sean@seanmadden.net>"]
homepage = "https://github.com/spmadden/irox"
license = ["MIT OR Apache-2.0"]
exclude = ["doc"]
readme = "README.md"

[workspace]
members = [
    "irox",
    "data-formats/csv",
    "data-formats/sirf",
    "libraries/carto",
    "libraries/egui_irox_extras",
    "libraries/influxdb_v1",
    "libraries/network",
    "libraries/stats",
    "libraries/units",
	"libraries/tools",
    "tools/halflifes"
]

[workspace.dependencies]
egui = { version = "^0", features = ["persistence"] }
eframe = { version = "^0", features = ["persistence"] }
ron = { version = "^0", features = ["integer128"] }
serde = { version = "<=1.0.171", features = ["derive"] }
ureq = {version = "^2", features = ["brotli", "native-certs", "socks-proxy", "cookies"]}   
url = {version = "^2", features = []}
clap = {version = "^4", features = ["derive", "wrap_help", "string", "cargo", "env"]}
log = {version = "^0", features = []}
env_logger = {version = "^0", features = []}
