[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Sean P. Madden <sean@seanmadden.net>"]
homepage = "https://github.com/spmadden/irox"
license = "MIT OR Apache-2.0"
exclude = ["doc"]
readme = "README.md"
repository = "https://github.com/spmadden/irox"

[workspace]
resolver = "2"
members = [
    "irox",
    "data-formats/csv",
    "data-formats/gpx",
    "data-formats/nmea0183",
    "data-formats/raymarine-sonar",
    "data-formats/sirf",
    "eieio/api",
    "eieio/nmea0183",
    "interfaces/influxdb_v1",
    "interfaces/win-location-api",
    "libraries/carto",
    "libraries/egui_extras",
    "libraries/enums",
    "libraries/enums_derive",
    "libraries/log",
    "libraries/network",
    "libraries/progress",
    "libraries/stats",
    "libraries/units",
    "libraries/structs",
    "libraries/structs_derive",
    "libraries/time",
    "libraries/threading",
    "libraries/tools",
    "libraries/types",
    "tools/gpsd",
    "tools/halflifes",
    "tools/influx-cli",
    "tools/sonar-sdf-convert",
]

[workspace.dependencies]
egui = { version = "^0.23", features = ["persistence"] }
eframe = { version = "^0.23", features = ["persistence"] }
egui_plot = { version = "^0.23", features = [] }
ron = { version = "^0.8", features = ["integer128"] }
serde = { version = "^1.0.193", features = ["derive"] }
serde_json = {version = "^1.0", features = []}
ureq = {version = "^2.9", features = ["brotli", "native-certs", "socks-proxy", "cookies"]}
url = {version = "^2.4", features = []}
clap = {version = "^4.4", features = ["derive", "wrap_help", "string", "cargo", "env"]}
clap-verbosity-flag = {version = "^2.1"}
log = {version = "^0.4", features = []}
env_logger = {version = "^0.10", features = []}
syn = {version = "^2.0", features = ["extra-traits"]}
quote = {version = "^1.0", features = []}
signal-hook = {version = "^0.3", features = []}
windows = {version = "^0.52", features = [ "Devices_Geolocation", "Foundation" ]}
rusqlite = {version = "^0.30", features = ["bundled", "bundled-windows"]}
miniz_oxide = {version = "^0.7", features = []}
xml = {version = "^0.8", features = []}
serial = {version = "^0.4", features = []}
human-panic = {version = "^1.2", features = []}
proc-macro2 = {version = "^1.0", features = []}
num_cpus = {version = "1.16.0", features = []}

irox-csv = {version = "^0", path = "data-formats/csv"}
irox-gpx = {version = "^0", path = "data-formats/gpx"}
irox-nmea0183 = {version = "^0", path = "data-formats/nmea0183"}
irox-raymarine-sonar = {version = "^0", path = "data-formats/raymarine-sonar"}
irox-sirf = {version = "^0", path = "data-formats/sirf"}

irox-eieio-api = {version="^0", path = "eieio/api"}
irox-eieio-nmea0183 = {version="^0", path = "eieio/nmea0183"}

irox-influxdb_v1 = {version = "^0", path = "interfaces/influxdb_v1"}
irox-winlocation-api = {version = "^0", path = "interfaces/win-location-api"}

irox-carto = {version = "^0", path = "libraries/carto"}
irox-egui-extras = {version = "^0", path = "libraries/egui_extras"}
irox-enums = {version = "^0", path = "libraries/enums"}
irox-enums_derive = {version = "^0", path = "libraries/enums_derive"}
irox-log = {version = "^0", path = "libraries/log"}
irox-networking = {version = "^0", path = "libraries/network"}
irox-progress = {version = "^0", path = "libraries/progress"}
irox-stats = {version = "^0", path = "libraries/stats"}
irox-structs = {version = "^0", path = "libraries/structs"}
irox-structs_derive = {version = "^0", path = "libraries/structs_derive"}
irox-threading = {version = "^0", path = "libraries/threading"}
irox-time = {version = "^0", path = "libraries/time"}
irox-tools = {version = "^0", path = "libraries/tools"}
irox-types = {version = "^0", path = "libraries/types"}
irox-units = {version = "^0", path = "libraries/units"}
