[package]
name = "irox-dotdraw"
description = "Dot Graph Drawing App"
keywords = ["irox"]
categories = ["rendering::data-formats", "visualization", "wasm"]
version = "0.1.0"
edition.workspace = true
authors.workspace = true
homepage.workspace = true
license.workspace = true
exclude.workspace = true
repository.workspace = true
readme = "README.md"

[lib]
crate-type = ["cdylib", "rlib"]

[lints]
workspace = true

[dependencies]
irox-log = { workspace = true, features = ["std"] }
irox-egui-extras = { workspace = true, features = ["eframe", "serde"] }
irox-dot = { workspace = true, features = ["drawing", "egui"] }



[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen = { workspace = true }
wasm-bindgen-futures = { workspace = true }
web-sys = { workspace = true }
ehttp = { workspace = true }

[target.'cfg(target_arch = "x86_64")'.dependencies]
eframe = { workspace = true, default-features = false }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[[bin]]
name = "main"
path = "src/bin/main.rs"