[package]
name = "irox-egui-extras"
description = "Extras & tweaks for the egui framework"
keywords = ["irox", "egui", "gui"]
categories = ["gui"]
version = "0.7.0"
edition.workspace = true
authors.workspace = true
homepage.workspace = true
license.workspace = true
exclude.workspace = true
readme = "README.md"
repository.workspace = true

[lints]
workspace = true

[features]
default = ["eframe", "eframe?/wgpu"]
serde = ["dep:serde", "egui/serde", "irox-tools/std", "dep:irox-bits"]
plots = ["dep:irox-units", "dep:irox-stats"]
profiling = ["dep:profiling", "dep:puffin"]
dump_csv = []
docsrs = ["eframe/x11", "eframe/wayland", "wgpu"]
wgpu = ["dep:eframe","eframe/wgpu"]
glow = ["dep:eframe","eframe/glow", "dep:glow"]
eframe = ["dep:eframe"]

[dependencies]
egui.workspace = true
eframe = { workspace = true, default-features = false, features = [], optional = true }
ron.workspace = true
serde = { workspace = true, optional = true }
irox-bits = { workspace = true, optional = true, features = ["alloc"] }
irox-tools = { workspace = true }
irox-time = { workspace = true, features = ["std"] }
irox-units = { workspace = true, optional = true, features = ["std"] }
irox-imagery = { workspace = true, features = ["egui"] }
irox-stats = { workspace = true, optional = true, features = ["emath", "std"] }
irox-progress = {workspace = true}
log.workspace = true
profiling = { workspace = true, optional = true }
puffin = { workspace = true, optional = true }
glow = {workspace = true, optional = true}

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen.workspace = true
wasm-bindgen-futures.workspace = true
web-sys.workspace = true

[dev-dependencies]
eframe = { workspace = true, default-features = false, features = ["wgpu", "default_fonts", "persistence"] }
egui = { workspace = true, default-features = false, features = ["rayon", "persistence"] }
irox-time = { workspace = true, features = ["std"] }
irox-tools = { workspace = true, features = ["std"] }
irox-log = {workspace = true, features = ["std"]}
puffin_http = { workspace = true }
irox-csv = { workspace = true }
irox-build-rs = { workspace = true, features = ["git"] }

[target.'cfg(target_os = "linux")'.dependencies]
eframe = { workspace = true, default-features = false, features = ["x11"] }

[target.'cfg(target_os = "linux")'.dev-dependencies]
eframe = { workspace = true, default-features = false, features = ["wayland"] }

[[example]]
name = "irox_egui_gallery"
required-features = ["eframe", "wgpu", "serde", "plots"]

[[example]]
name = "plotsperf"
required-features = ["eframe", "wgpu", "plots"]

[[example]]
name = "dialog"
required-features = ["eframe", "wgpu"]

[[example]]
name = "draw_panels"
required-features = ["eframe", "wgpu"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
