[package]
name = "irox-threading"
description = "Blocking and Asynchronous Threading Tools"
keywords = ["irox", "asynchronous", "concurrency", "threads", "parallel-processing"]
categories = ["asynchronous", "concurrency", "rust-patterns"]
version= "0.2.2"
edition.workspace = true
authors.workspace = true
homepage.workspace = true
license.workspace = true
exclude.workspace = true
repository.workspace = true
readme = "README.md"

[lints]
workspace = true

[features]
default = []

[dependencies]
log.workspace = true
num_cpus = {workspace = true, optional = true}

[dev-dependencies]
irox-log = {workspace = true}
