[package]
name = "irox-units"
description = "Physical Quantities, Units, & Reference Frames Library"
keywords = ["irox", "coordinate", "epsg", "projections", "no_std"]
categories = ["aerospace", "data-structures", "science", "mathematics", "no-std::no-alloc"]
version = "0.5.0"
edition.workspace = true
authors.workspace = true
homepage.workspace = true
license.workspace = true
exclude.workspace = true
repository.workspace = true
readme = "README.md"

[lints]
workspace = true

[dependencies]
irox-tools = { version = "^0", path = "../tools", default-features = false }
serde = { workspace = true, optional = true, features = ["derive"] }

[dev-dependencies]
serde_json = { workspace = true }

[features]
default = []
alloc = ["irox-tools/alloc"]
std = ["alloc", "irox-tools/std"]
serde = ["dep:serde"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
