[package]
name = "irox-structs_derive"
description = "Derivable impls of the traits in irox-structs"
keywords = ["irox", "reflection", "metaprogramming"]
categories = ["development-tools", "rust-patterns"]
version= "0.3.2"
edition.workspace = true
authors.workspace = true
homepage.workspace = true
license.workspace = true
exclude.workspace = true
readme.workspace = true
repository.workspace = true

[lints]
workspace = true

[lib]
proc-macro = true

[dependencies]
syn.workspace = true
quote.workspace = true
irox-types = {version = "^0", features = ["syn"], path = "../types"}
irox-tools = {version = "^0", default-features = false, path = "../tools"}
irox-derive-helpers.workspace = true
