[package]
name = "irox-tiledownloader"
description = "XYZ Tiles Download tool"
keywords = ["irox"]
categories = ["science::geo", "command-line-utilities"]
version= "0.1.0"
edition.workspace = true
authors.workspace = true
homepage.workspace = true
license.workspace = true
exclude.workspace = true
repository.workspace = true
readme = "README.md"

[lints]
workspace = true

[dependencies]
irox-carto.workspace = true
irox-units.workspace = true
irox-mbtiles.workspace = true
irox-tools.workspace = true

tokio = { version = "1.39", features = ["macros", "rt-multi-thread"] }
clap = { workspace = true, features = [
    "derive",
    "cargo",
    "wrap_help",
    "error-context",
] }
reqwest = { version = "0.12", features = ["gzip", "brotli", "deflate"] }
bytes = { version = "1" }
indicatif = { version = "0.17" }
